before_script:
  - "mysql -e 'create database sequelize_test;'"

script:
  - "npm test"

notifications:
  email:
    - sascha@depold.com
  irc:
    - "chat.freenode.net#sequelizejs"

language: node_js

node_js:
  - "0.8"
  - "0.10"

branches:
  only:
    - master

cache:
  directories:
    - node_modules
